.one:link {
    color: lightgrey;
}

.one:visited {
    color:silver;
}

.one:hover {
    color: aqua;
}

.one:active {
    color: pink;
}

.solid {
    border-style: solid;
    border-color: white;
}

body {
    background-color: rgb(75, 68, 68);
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 35px;
}
h6 {
    font-size: 35px
}
img {
    border: 5px solid rgb(255, 255, 255)
}